.popup__form {
  margin: 0;
  padding: 0;
  position: relative;
  display: grid;
  grid-template-columns: 358px;
  grid-template-rows: repeat(6, auto);
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .popup__form {
    grid-template-columns: 238px;
  }
}
