.popup__modal {
  position: absolute;
  display: grid;
  align-content: space-between;
  width: 430px;
  height: 330px;
  background: #FFFFFF;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .popup__modal {
    width: 282px;
    height: 322px;
  }
}
